<section class="job">
  <h3>{{job.title}}</h3>
  <section class="header">
    <span class="company">{{job.company}}</span>
    <span class="location">{{job.location}}</span>
    @if (job.endDate) {
      <span class="timespan">{{job.startDate | date:'MMM y'}} - {{job.endDate | date:'MMM y'}}</span>
    }
    @if (!job.endDate) {
      <span class="timespan">{{job.startDate | date:'MMM y'}} - Present</span>
    }
  </section>
  <p>
    {{job.description}}
    @if (job.skills.length > 0) {
      <span class="skills">
        <span class="bold">Skills: </span>
        {{job.skills.join(', ')}}
      </span>
    }
  </p>
</section>
