h3 {
  margin: 0;
  padding: 0;
}
.job {
  padding: 1rem 0 0 0;
  section.header {
    padding: .2rem 0 .5rem 0;
  }
  section::after {
    clear: both;
  }
}
.company {
  float: left;
  width: 16rem;
}
.location {
  float: left;
}
.timespan {
  float: right;
}
.description {
  p {
    margin-bottom: 0;
  }
}
.skills {
  height: 1rem;
  display: block;
  margin-top: .3rem;
  .bold {
    font-weight: bold;
  }
}
@media print {
  .job {
    page-break-inside: avoid;
  }
}
